<app-header></app-header>
<div id="layoutSidenav">
    <app-sidepanel></app-sidepanel>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h2 class="mt-30 page-title">Categories</h2>
                <ol class="breadcrumb mb-30">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a routerLink="/category">Categories</a></li>
                    <li class="breadcrumb-item active">Add Category</li>
                </ol>
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="card card-static-2 mb-30">
                            <div class="card-title-2">
                                <h4>Add New Category</h4>
                            </div>
                            <div class="card-body-table">
                                <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                                <div class="news-content-right pd-20">
                                    <div class="row">

                                   
                                    <div class="form-group col-sm-6">
                                        <label class="form-label">Name*</label>
                                        <input type="text" class="form-control" placeholder="Category Name" formControlName="categoryName"
                                        [ngClass]="{'border border-danger': categoryForm.get('categoryName').hasError('required') && categoryForm.get('categoryName').touched}">
                                    </div>
                                    <!-- <div class="form-group col-sm-3">
                                        <label class="form-label">Sort Number*</label>
                                            <input type="number" class="form-control" placeholder="Sort number" formControlName="categorySortBy"
                                            [ngClass]="{'border border-danger': 
                                            (categoryForm.get('categorySortBy').hasError('required') || categoryForm.get('categorySortBy').hasError('min'))
                                            && categoryForm.get('categorySortBy').touched}">
                                    </div> -->
                                    <div class="form-group col-sm-3">
                                        <label class="form-label">Status*</label>
                                        <select id="status" name="status" class="form-control" formControlName="active" [ngClass]="{'border border-danger': categoryForm.get('active').hasError('required') && categoryForm.get('active').touched}">
                                            <option value="true">Active</option>
                                            <option value="false">Inactive</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="form-label">Description</label>
                                        <div class="card card-editor">
                                            <div class="content-editor">
                                                <textarea class="text-control" placeholder="Enter Description" formControlName="categoryDetails"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <button class="save-btn hover-btn" type="submit" [disabled]="categoryForm.invalid">Add New Category</button>
                                    
                                </div> 
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <app-footer></app-footer>
    </div>
</div>