<app-header></app-header>
<div id="layoutSidenav">
    <app-sidepanel></app-sidepanel>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h2 class="mt-30 page-title">Orders</h2>
                <ol class="breadcrumb mb-30">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a routerLink="/orders">Orders</a></li>
                    <li class="breadcrumb-item active">Order View</li>
                </ol>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="card card-static-2 mb-30">
                            <div class="card-title-2">
                                <h2 class="title1458">Invoice</h2>
                                <span class="order-id">Order {{Order?.orderInvoiceNumber}}</span>
                            </div>
                            <div class="invoice-content">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="ordr-date">
                                            <b>Order Date :</b> {{Order?.createdDate | date:'MMM d, y, h:mm:ss a'}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="ordr-date right-text">
                                            <b>Order Address :</b><br>
                                            {{address?.zipPostalCode}}<br>
                                            {{address?.addressLine1}}<br>
                                            {{address?.addressLine2}}<br>
                                            {{address?.city}}<br>
                                            {{address?.stateProvince}}<br>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="card card-static-2 mb-30 mt-30">
                                            <div class="card-title-2">
                                                <h4>Recent Orders</h4>
                                            </div>
                                            <div class="card-body-table">
                                                <div class="table-responsive">
                                                    <table class="table ucp-table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:130px">#</th>
                                                                <th>Item</th>
                                                                <th style="width:150px" class="text-center">Price</th>
                                                                <th style="width:150px" class="text-center">Qty</th>
                                                                <th style="width:100px" class="text-center">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let orderdetail of OrderDetails;index as i">
                                                                <td>{{i+1}}</td>
                                                                <td>
                                                                    <a>{{orderdetail.productName}}</a>
                                                                    <ul>
                                                                        <li
                                                                            *ngFor="let selection of orderdetail.productVariants">
                                                                            {{selection.choiceName}}</li>
                                                                    </ul>
                                                                </td>
                                                                <td class="text-center">{{orderdetail.productPrice}}
                                                                </td>
                                                                <td class="text-center">{{orderdetail.productQuantity}}
                                                                </td>
                                                                <td class="text-center">{{orderdetail.productPrice *
                                                                    orderdetail.productQuantity}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7"></div>
                                    <div class="col-lg-5">
                                        <div class="order-total-dt">
                                            <div class="order-total-left-text">
                                                Sub Total
                                            </div>
                                            <div class="order-total-right-text">
                                                {{Order?.voucherDiscountAmount}}
                                            </div>
                                        </div>
                                        <div class="order-total-dt">
                                            <div class="order-total-left-text">
                                                Delivery Fees
                                            </div>
                                            <div class="order-total-right-text">
                                                {{Order?.deliveryCharges}}
                                            </div>
                                        </div>
                                        <div class="order-total-dt">
                                            <div class="order-total-left-text fsz-18">
                                                Total Amount
                                            </div>
                                            <div class="order-total-right-text fsz-18">
                                                {{Order?.totalAmount}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7"></div>
                                    <div class="col-lg-5">
                                        <div class="select-status">
                                            <label for="status">Status*</label>
                                            <div class="status-active">
                                                {{Order?.orderStatus}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <app-footer></app-footer>
    </div>
</div>