:host(.general-style) {
    position: absolute;
    top: 12px;
    right: 10px;
  
    .datePickerCls {
      width: 100%;
  
    }
  }
  
  :host(.homePage-style) {
    // position: absolute;
    // top: 470px;
    // right: 10px;
  
    .datePickerCls {
      width: 100%;
  
    }
  }
  