::ng-deep {
	.header_one {
        color: #2b2f4c;
        font-size: 14px;
        background-color: #ffecec;
        font-weight: 500;
    }
    .ag-header-cell-label {
        justify-content: center !important;
    }
    .noty_body .fa{
        margin: 5px;
    }
}