<app-header></app-header>
<div id="layoutSidenav">
    <app-sidepanel></app-sidepanel>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h2 class="mt-30 page-title">Products</h2>
                <ol class="breadcrumb mb-30">
                    <li class="breadcrumb-item"><a routerLink="/dasboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a routerLink="/products">Products</a></li>
                    <li class="breadcrumb-item active">Add Product</li>
                </ol>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="card card-static-2 mb-30">
                            <div class="card-title-2">
                                <h4>{{isEditProduct ? 'Edit' : 'Add'}} Product</h4>
                            </div>
                            <div class="card-body-table">
                                <form [formGroup]="productForm" (ngSubmit)="onProductAdd()">


                                <div class="news-content-right pd-20">
                                    <div class="form-group">
                                        <label class="form-label">Category Image*</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type='file' (change)="imagePreview($event);" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                                                formControlName="productImage">
                                                <label class="custom-file-label"  for="inputGroupFile04">Choose Image</label>
                                            </div>
                                        </div>
                                        <div class="add-cate-img-1">
                                            <img [src]="filePath" alt="">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="form-label">Category*</label>
                                        <select id="categtory" name="categtory" class="form-control" formControlName="categoryId" 
                                        [ngClass]="{'border border-danger': productForm.get('categoryId').hasError('required') && productForm.get('categoryId').touched}"
                                        >
                                            <option value="0" selected disabled>--Select Category--</option>
                                            <option value="{{category.categoryId}}" *ngFor="let category of categoryList;">{{category.categoryName}}</option>
                                            <!-- <option value="1">Fruits & Vegetables</option>
                                            <option value="2">Grocery & Staples</option>
                                            <option value="3">Dairy & Eggs</option>
                                            <option value="4">Beverages</option>
                                            <option value="5">Snacks</option>
                                            <option value="6">Home Care</option>
                                            <option value="7">Noodles & Sauces</option>
                                            <option value="8">Personal Care</option>
                                            <option value="9">Pet Care</option>
                                            <option value="10">Meat & Seafood</option>
                                            <option value="11">Electronics</option> -->
                                        </select>

                                        <!-- <ng-selectize required [config]="config" [options] = "categoryList" formControlName="categoryId"   id="categtory" name="categtory"
                                        [ngClass]="{'border border-danger': productForm.get('categoryId').hasError('required') && productForm.get('categoryId').touched}"></ng-selectize>                                        -->
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Name*</label>
                                        <input type="text" class="form-control" placeholder="Product Name" formControlName="productName"
                                        [ngClass]="{'border border-danger': productForm.get('productName').hasError('required') && productForm.get('productName').touched}">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Price*</label>
                                        <input type="text" class="form-control" placeholder="$0" formControlName="productDeliveryPrice" 
                                        [ngClass]="{'border border-danger': productForm.get('productDeliveryPrice').hasError('required') && productForm.get('productDeliveryPrice').touched}">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Selections</label>
                                        <ng-selectize  [config]="selectizeConfig" id="selections" name="selections"></ng-selectize>                                       
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Description</label>
                                        <div class="card card-editor">
                                            <div class="content-editor">
                                                <textarea class="text-control" placeholder="Enter Description" formControlName="productDescription"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group ">
                                        <div class="col-sm-3">
                                            <label class="form-label">Status*</label>
                                            <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" name="productStatus" id="productStatus" formControlName="active">
                                              <label class="custom-control-label" for="productStatus">Active</label>
                                            </div>
                                          </div>
                                        <div class="col-sm-3">
                                            <label class="form-label">Feature*</label>
                                            <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" name="productFeature" id="productFeature" formControlName="featured">
                                              <label class="custom-control-label" for="productFeature">Active</label>
                                            </div>
                                          </div>
                                        </div>
                                        <button class="save-btn hover-btn" type="submit" [disabled]="productForm.invalid">{{isEditProduct ? 'Update':'Add'}} Product</button>
                                    </div> 

                            </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="card card-static-2 mb-30">
                            <div class="card-title-2">
                                <h4>Add Choice of Groups</h4>
                            </div>
                            <div class="card-body-table">
                                <div class="news-content-right pd-20">
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                          <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="choice-name-1" id="choice-name-1">
                                            <label class="custom-control-label" for="choice-name-1">Choice Name</label>
                                          </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                          <span> Coke,Sprite</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                          <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="choice-name-2" id="choice-name-2">
                                            <label class="custom-control-label" for="choice-name-2">Choice Name</label>
                                          </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                          <span> Coke,Sprite</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                          <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="choice-name-3" id="choice-name-3">
                                            <label class="custom-control-label" for="choice-name-3">Choice Name</label>
                                          </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                          <span> Coke,Sprite</span>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <app-footer></app-footer>
    </div>
</div>