<app-header></app-header>
<div id="layoutSidenav">
  <app-sidepanel></app-sidepanel>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h2 class="mt-30 page-title">Business Info</h2>
        <ol class="breadcrumb mb-30">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active">Settings</li>
        </ol>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card card-static-2 mb-30">
              <div class="card-title-2">
                <h4>Business Settings</h4>
              </div>
              <div class="card-body-table">
                <div class="news-content-right pd-20">
                  <form [formGroup]="businessSettings" (ngSubmit)="onSaveSettings()">
                  <div class="row">
                    <div class="form-group col-sm-3">
                      <label for="businessRegNum">Reg Number*</label>
                      <input class="form-control" type="text" placeholder="12322" id="businessRegNum" name="businessRegNum"
                        formControlName="registerNumber"> 
                    </div>
                    <div class="form-group col-sm-3">
                      <label for="vat">VAT*</label>
                      <input type="text" class="form-control" name="vat" id="vat" placeholder="2.5" formControlName="vat"> 
                    </div>
                    <div class="form-group col-sm-3">
                      <label class="form-label">VAT Type*</label>
                      <ng-selectize required [config]="selectizevatTypeConfig" [options]="VATTypes" id="VATTypes" name="VATTypes"  formControlName="vatType"
                      ></ng-selectize>                      
                    </div>
                    <div class="form-group col-sm-3">
                      <label for="serviceCharges">Service Charges</label>
                      <input class="form-control" type="number" placeholder="1.2" id="serviceCharges" name="serviceCharges" formControlName="serviceCharges"/> 
                    </div>
                    <div class="form-group col-sm-3">
                      <label for="deliveryCharges">Delivery Charges</label>
                      <input class="form-control" type="number" placeholder="1.2" id="deliveryCharges" name="deliveryCharges" formControlName="deliveryCharges"/> 
                    </div>
                    <div class="form-group col-sm-3">
                      <label for="minimumOrder">Minimum Order*</label>
                      <input class="form-control" type="number" placeholder="5"  id="minimumOrder" name="minimumOrder" formControlName="minimumOrder"> 
                    </div>
                    <div class="form-group col-sm-3">
                      <label for="avgpreptime">Avg Prep Time</label>
                      <input class="form-control" type="number" placeholder="60 minutes"  id="avgpreptime" name="avgpreptime" formControlName="averagePrepareTime"> 
                    </div>
                    <div class="form-group col-sm-3">
                      <label for="deliverytime">Delivery Time</label>
                      <input class="form-control" type="number" placeholder="30 minutes"  id="deliverytime" name="deliverytime" formControlName="deliveryTime"> 
                    </div>
                    <div class="form-group col-sm-3 m-auto">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="guestLogin" id="guestLogin"  formControlName="isGuestLoginActive">
                        <label class="custom-control-label" for="guestLogin">Guest Login</label>
                      </div>
                    </div>
                    <div class="form-group col-sm-6">
                      <label> Order Types</label>
                      <div class="input-group">
                        <div class="form-group col-xs-12  col-sm-3 col-md-4">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="delivery" id="delivery" formControlName="isDeliveryOrderActive">
                            <label class="custom-control-label" for="delivery">Delivery</label>
                          </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-3 col-md-4">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="collection" id="collection" formControlName="isCollectionOrderActive">
                            <label class="custom-control-label" for="collection">Collection</label>
                          </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-3 col-md-4">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="table" id="table" formControlName="isTableOrderActive">
                            <label class="custom-control-label" for="table">Table</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-sm-12 text-right">
                      <button class="save-btn hover-btn" type="submit">Save Changes  <i class="fa fa-spin" style="font-size:24px" [class.fa-spinner]="loading"></i></button>
                    </div>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>